# Python
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
env/
ENV/

# VS Code
.vscode/

# Django SQLite database
db.sqlite3
*.sqlite3

# Django secret settings
.env

# Migrations (optional)
**/migrations/
!**/migrations/__init__.py

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
